//npm.pkg.github.com/:_authToken=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
@satranc365:registry=https://npm.pkg.github.com

//npm.pkg.github.com/:_authToken=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
@digitalmind:registry=https://npm.pkg.github.com
always-auth=true